{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Pot {{ pot.amount }}</h1>
    <p>{{ pot.id }}. {{ pot.amount }}</p>
    <a href="/pots/edit?id={{ pot.id }}">Edit</a>
    <form action="/pots/delete" method="POST">
        <input type="hidden" name="id" value="{{ pot.id }}">
        {# <button>Delete</button> #}
    </form>
    <a href="/pots">Back</a>
{% endblock %}
