{% extends 'layout.html.twig' %}

{% block nav %}
{% include "Layouts/nav.html.twig" %} 
{% endblock %}

{% block footer %} 
{% include "Layouts/footer.html.twig" %} 
{% endblock %} 

{# {% block content %}
<p>{{ wishitem.id }}. {{ wishitem.name }}</p>
<a href="/wishlist/edit?id={{ wishitem.id }}">Edit</a>
<form action="/wishlist/delete" method="POST">
    <input type="hidden" name="id" value="{{ wishitem.id }}">
    <button>Delete</button>
</form>
<a href="/wishlist">Back</a>
{% endblock %} #}


{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img src="{{ wishitem.image }}" style="width: 500px; height: 500px; object-fit: cover;"
                alt="194x228" /><br><br>
        </div>
        <div class="col">
            <div class="card-title" "stretched-link-product">
                <br>
                <h1 class="stretched-link-product">{{ wishitem.name }}</h1>
                <h3 class="stretched-link-product">{{ wishitem.price }} €</h3><br>
                <h5 class="card-text-description text-center">Vote : {{wishitem.vote }}</h5>
                <a href="/wishlist/edit?id={{ wishitem.id }}">J'accède au vote</a>
            </div>
            <form method="post">
                <div class="container">
                    <div class="mb-3 row d-flex align-items-center">
                        <label for="clientNumber" class="col-sm-4 col-form-label">Je suis intéressé(e)</label>
                        <div class="col-sm-9">
                            <div class="form-row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vote" id="vote" value="1"
                                        checked>
                                    <label class="form-check-label" for="inlineRadio1">oui</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vote" id="vote" value="0">
                                    <label class="form-check-label" for="inlineRadio2">non</label>
                                </div>
                                <div class="d-grid col-2 ms-auto me-auto mt-4">
                                    <button class="btn btn-outline-dark" type="submit">Confirmer mon vote</button><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-text-description" align="left" style="width: 520px;">{{ wishitem.website }}</p><br>
            <div class="d-flex col-xs-6 gap-2">
                <form method="POST">
                    <div class="btn-add-card-products" "cart mt-4 align-items-center">
                        <input type="text" class="d-none" name="add_product" value="{{wishitem.id}}">
                        <button type="submit" class="btn btn-outline btn-sm btn-floating m-1"
                            style="border-color: #202549; color:#202549;"><strong>Effectuer une
                                réservation</strong></a><i class="fas fa-cart-arrow-down" style="width: 100%;"></i>
                    </div>
                </form>
                <form action="/wishlist/delete" method="POST">
                    <div class="btn-add-card-products" "cart mt-4 align-items-center gap-2">
                        <input type="hidden" name="id" value="{{ wishitem.id }}">
                        <button type="submit" class="btn btn-outline btn-sm btn-floating m-1"
                            style="border-color: #202549; color:#202549;"><strong>Annuler cette
                                proposition</strong></a><i class="fas fa-cart-arrow-down" style="width: 100%;"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}