{% extends 'layout.html.twig' %}

{% block nav %}
{% include "Layouts/nav.html.twig" %} 
{% endblock %}

{% block footer %} 
{% include "Layouts/footer.html.twig" %} 
{% endblock %} 

{# {% block content %}
<p>{{ wishitem.id }}. {{ wishitem.name }}</p>
<a href="/wishlist/edit?id={{ wishitem.id }}">Edit</a>
<form action="/wishlist/delete" method="POST">
    <input type="hidden" name="id" value="{{ wishitem.id }}">
    <button>Delete</button>
</form>
<a href="/wishlist">Back</a>
{% endblock %} #}


{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img src="{{ wishitem.image }}" style="width: 500px; height: 500px; object-fit: cover;"
                alt="194x228" /><br><br>
        </div>
        <div class="col">
            <div class="card-title" "stretched-link-product">
                <br>
                <h1 class="stretched-link-product">{{ wishitem.name }}</h1>
                <h3 class="stretched-link-product">{{ wishitem.price }} €</h3><br>
            </div>
            <p class="card-text-description" align="left" style="width: 520px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tenetur voluptatibus iusto architecto autem repellendus suscipit dolorum numquam quos cupiditate vel, voluptatum illum, eius in aspernatur, reprehenderit facere at! Suscipit iste omnis accusantium natus nostrum facere ab consectetur totam in quisquam eveniet cupiditate temporibus cum non, dolore, ut consequuntur. </p><br>
            <div class="d-flex col-xs-6 gap-2">

                <form method="POST">
                    <div class="btn-add-card-products" "cart mt-4 align-items-center">
                        <input type="text" class="d-none" name="add_product" value="{{wishitem.id}}">
                        <button type="submit" class="btn btn-outline btn-sm btn-floating m-1"
                            style="border-color: #202549; color:#202549;">
                            <a href={{ wishitem.website }} target="_blank"><strong>Effectuer une
                                réservation</strong></a><i class="fas fa-cart-arrow-down" style="width: 100%;"></i>
                    </div>
                </form>
                <form action="/wishlist/delete" method="POST">
                    <div class="btn-add-card-products" "cart mt-4 align-items-center gap-2">
                        <input type="hidden" name="id" value="{{ wishitem.id }}">
                        <button type="submit" class="btn btn-outline btn-sm btn-floating m-1"
                            style="border-color: #202549; color:#202549;"><strong>Annuler cette
                                proposition</strong></a><i class="fas fa-cart-arrow-down" style="width: 100%;"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}